{% extends 'base.html' %} 

{% block content %}
    <div class="my-20 max-w-screen-xl mx-auto">
    <div class="flex justify-between mb-20">
        {% for post in posts %}
            <div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
                {% if post.image %}
                    <img class="w-full" src="{{ post.image.url }}" alt="Sunset in the mountains">
                {% endif %}
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-3">
                        {{ post.title }}
                        <p class="text-sm text-gray-600">{{ post.author }} -- {{ post.published_date }}</p>
                    </div>
                    <p class="text-grey-darker text-base">
                    {{ post.text|truncatewords_html:20 }}
                    </p>
                </div>
                <a class="mb-3 block text-center w-11/12 rounded mx-auto bg-blue-900 text-white py-2 hover:bg-blue-700" href="{% url 'blogs.detail' post.id %}">Full blog &#8594;</a>
            </div>
        {% endfor %}
    </div>
    <div class="mx-auto w-max">
        <a class="border-solid border-2 border-purple-500 mr-3 px-4 py-2 hover:bg-purple-700 hover:border-purple-700 hover:text-white" href="{% url 'blogs.all' %}">See all blogs</a>
        {% if user.is_authenticated %}
            <a class="border-2 border-purple-500 px-4 py-2 text-white bg-purple-500 hover:bg-purple-700 hover:border-purple-700" href="{% url 'blogs.create' %}">Write a blog</a>
        {% endif %}
    </div>
    </div>
{% endblock content %}
