{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Test</title>
</head>
<body>
    <div class="w-full min-h-screen flex flex-col mx-auto">
        {% include 'header.html' %}
            <div class="px-10 py-20 bg-purple-200 flex-1"> 
                {% block content %}{% endblock content %}
            </div>
    {% include 'footer.html' %}  
    </div>
</body>
</html>