<header
  class="
    font-sans
    fixed
    w-full
    text-center
    bg-white bg-purple-300
    text-gray-800
  "
>
  <nav class="max-w-screen-xl mx-auto flex justify-between py-4">
    <div class="mb-2 sm:mb-0">
      <a
        href="#"
        class="text-2xl no-underline text-grey-darkest hover:text-blue-dark"
        >LOGO</a
      >
    </div>
    <div>
      <a
        href="{% url 'index' %}"
        class="text-lg no-underline text-grey-darkest hover:text-blue-900 mx-3 {% if active == "index" %}border-blue-900 text-blue-900 pb-1 border-b-2{% endif %}"
        >Home</a
      >
      <a
        href="{% url 'blogs.index' %}"
        class="text-lg no-underline text-grey-darkest hover:text-blue-900 mx-3 {% if active == "blog-index" %}border-blue-900 text-blue-900 pb-1 border-b-2{% endif %}"
        >Blogs</a
      >
      {% if user.is_authenticated %}
        <a
        href="{% url 'logout' %}"
        class="bg-blue-900 text-lg no-underline text-white rounded ml-5 px-4 py-2 hover:bg-blue-700"
        >Logout</a
      >
      {% else %}
      <a
        href="{% url 'signup' %}"
        class="bg-blue-900 text-lg no-underline text-white rounded ml-5 px-4 py-2 hover:bg-blue-700"
        >Join Us</a
      >
      {% endif %}
    </div>
  </nav>
</header>
