<header
  class="
    font-sans
    fixed
    w-full
    text-center
    bg-white bg-purple-300
    text-gray-800
  "
>
  <nav class="max-w-screen-xl mx-auto flex justify-between py-3">
    <div class="mb-2 sm:mb-0">
      <a
        href="#"
        class="text-2xl no-underline text-grey-darkest hover:text-blue-dark"
        >LOGO</a
      >
    </div>
    <div>
      <a
        href="/"
        class="text-lg no-underline text-grey-darkest hover:text-blue-dark mx-3"
        >Home</a
      >
      <a
        href="/blog"
        class="text-lg no-underline text-grey-darkest hover:text-blue-dark mx-3"
        >Blogs</a
      >
      <a
        href="/contact"
        class="text-lg no-underline text-grey-darkest hover:text-blue-dark mx-3"
        >Contact</a
      >
    </div>
  </nav>
</header>
